*{
    padding: 0;
    margin: 0;;
    font-family: 'josefin Sans', Sans-Serif;
    box-sizing: border-box;
}
.hero {
     height: 20vh;
     width:100%;
     background-color: black;
     background-size: cover;
     background-position: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    align-items: center;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 25px 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    background-color: white;
    color: red;
    text-decoration: none;
    border: 2px solid text-transform;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform .4s;
    
}
.content{
    position: absolute;
    top: 10%;
    right: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 10px 0px 10px;
    font-size: px;25
    
}
h2{
    color: white;
    font-size: 25px;
    margin: 20px 0px 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin: 20px 0px 20px;
    
}
.about{
    width: 100%;
    padding: 100px;
    background-color: #191919;
}
about-text{
    width: 550px;
}
main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-item: center;
    justify-content: space-around;
    
}
.about-text h6{
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottim:25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
   
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    
    
}

.skill{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
    
}
title h1{
    color:white;
    font-size:85px;
    width: 1130px ;
    margin:30px auto;
    text-align:center;
    justify-content:space-around;
       
}
.box{
display:flex;
justify-content:center;
align-item: center;
min-height: 400px;

    
}
.card{
    height:365px ;
    width:335px ;
    padding:20px 35 px ;
    background: #191919;
    border-radius:20px ;
    margin:15px;
    position:relative;
    overflow:hidden;
    text-align:center;
    
}
.card i{
    font-size:75px ;
    display:block;
    text-align:center;
    margin:25px 0px;
    color:#f9004d;
}
h6{
    color:white;
    font-size:23px;
    margin:15px;
}
h7{
    color:white;
    font-size:23px;
    margin:15px;
}
h8{
    color:white;
    font-size:23px;
    margin:15px;
}
.pra p{
    color:#fcfc;
    font-size:16px;
    line-height: 27px;
    margin-bottom:25px;

}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}  
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
} 
.contact-me{
    width: 100%;
    height: 290px;
    background:#191919 ;
    display:flex ;
    align-items:center ;
    flex-direction: column;
    justify-content: center;
            
}
.contact-me p{
    color:white;
    font-size:30px;
    font-weight:bold;
    margin-bottom:25px;
    
    
}  
.contact-me .button-two{
     background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
  .contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
}
footer{
    position:relative ;
    width: 100%;
    height: 400px;
    background:#101010 ;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}    
 footer  p1{
     font-size:30px;
     color: white;
     margin-bottom: 20px;
     text-weight:bold;
 } 
 footer p{
     color:white;
     font-size:170x;
     width: 500px;
     text-align:center;
     line-height:26px ;
 }
 .social {
     display:flex;
 }
 .social a{
     width:45px ;
     height:45px ;
     display:flex ;
     align-items:center ;
     justify-content:center ;
     background:#f9004d ;
     border-radius:50% ;
     margin:22px 10px;
     color:white;
     text-direction:none;
     font-size:20px;
     
 }
  .social a:hover{
      transform:scale(1.3);